page-home {

}

ion-list-header{
    margin-bottom: 0;
}

#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#add{
    align-items: center;
}

.h-red{
    background-color: rgba(204, 2, 2, 0.795);
    color: white;
}

.m-red{
    background-color: rgba(255, 0, 0, 0.651);
    color: white;
}

.l-red{
    background-color: rgba(255, 72, 72, 0.61);
    color: white;
}

.h-green{
    background-color: rgba(0, 126, 0, 0.795);
    color: white;
}

.m-green{
    background-color: rgba(29, 211, 29, 0.651);
    color: white;
}

.l-green{
    background-color: rgba(109, 223, 109, 0.61);
    color: white;
}
